In [6]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\uzmaf\anaconda3\envs\sql\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [3]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [4]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLAlchemy ORM

In [11]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, declarative_base
from sqlalchemy import create_engine, func, Column, Integer, String, Float, inspect

In [12]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [14]:
# reflect an existing database into a new model
inspector = inspect(engine)

# reflect the tables
inspector.get_table_names()

['measurement', 'station']

In [22]:
meaurement_df=pd.read_sql_table(table_name="measurement",con=engine)
meaurement_df.head(2)

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0

In [20]:
station_df=pd.read_sql_table(table_name="station",con=engine)
station_df.head(2)

   id      station                  name  latitude  longitude  elevation
0   1  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0
1   2  USC00513117  KANEOHE 838.1, HI US   21.4234  -157.8015       14.6

In [15]:
session=Session(bind=engine)

In [ ]:
class Hawaii(Base):

In [ ]:
# View all of the classes that automap found

In [ ]:
# Save references to each table

In [ ]:
# Create our session (link) from Python to the DB

## Exploratory Precipitation Analysis

In [ ]:
# Find the most recent date in the data set.

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame. Explicitly set the column names


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data

## Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number of stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Close Session

In [ ]:
# Close Session
session.close()